.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background: transparent;
    backdrop-filter: blur(100px);
    display:flex;
    justify-content:space-around;
    padding:12px 0;
    box-shadow:0 -3px 10px rgba(0,0,0,.08);
    z-index: 9995;
}
.bottom-nav a{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
    text-decoration:none;
    /*color:#888;*/
    color: white;
    font-size:.8rem;
}
.bottom-nav i{
    font-size:1.1rem;
}
.bottom-nav .active{
    /*color:#2563eb;*/
    color: limegreen;
}
